<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="A cool thing made with Glitch" />

	<title>M&G Studio Official Website</title>

	<link
	id="favicon"
	rel="icon"
	href="https://glitch.com/edit/favicon-app.ico"
	type="image/x-icon"
	/>
	<!-- import the webpage's stylesheet -->
	<link rel="stylesheet" href="/style.css" />
	<!-- import the webpage's client-side javascript file -->
	<script src="/script.js" defer></script>
</head>
<body>
	<nav>
	<label class="logo">M&G Studio</label>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/views/about.html">About</a></li>
	</ul>
	</nav>
	<iframe src="https://discord.com/widget?id=785916922566934539&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts" class="widget"></iframe>
</body>
</html>